.paginationWrapper {
    display: flex;
    flex-direction: row;
    max-width: 20%;
    justify-content: space-between;
}

.pageSwitchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 32px;
    border: 2px solid rgb(103, 119, 109);
    margin-right: 8px;
    color: rgb(103, 119, 109);

    cursor: pointer;
}

.pageSwitchBtnActive {
    height: 28px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid rgb(103, 119, 109);
    margin-right: 8px;
    color: rgb(103, 119, 109);
    background-color: rgb(173, 199, 179);
    cursor: pointer;
}
