.profileWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(103, 119, 109);

    width: 60%;
    min-width: 560px;
    margin-bottom: 32px;
}

.firstProfileColumn {
    display: flex;
    flex-direction: column;
    margin: 24px 24px 0 20px;
}

.secondProfileColumn {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin-top: 24px;
}

.ProfileTextWrapper {
    display: flex;
    flex-direction: row;
    color: rgb(103, 119, 109);

    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 38px;
}

.ProfileTextWrapper:last-of-type {
    flex-direction: column;

    .ProfileTextData {
        text-decoration: underline;
        padding-top: 10px;
        padding-left: 4px;
    }
}

.ProfileTextData {
    text-decoration: underline;
    padding-left: 4px;
}
