.datatableMainWrapper {
    margin-right: 40px;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    margin-bottom: 24px;
}

.headerTableRow {
    display: table;
    background-color: rgb(103, 119, 109);

    width: 100%;
}

.headerTableCell {
    display: table-cell;
    height: 36px;

    vertical-align: middle;
    text-align: center;
}

.tableHeaderText {
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.table {
    display: table;
    margin-bottom: 24px;
    width: 100%;
}

.TableRow_odd {
    display: table-row;
    background-color: white;
}

.TableRow_even {
    display: table-row;
    background-color: rgb (240, 240, 240);
}

.TableCell {
    display: table-cell;
    width: 350px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    border-left: 2px solid rgb(103, 119, 109);
}

.idCell {
    width: 10%;
}

.firstNameCell {
    width: 30%;
}

.LastNameCell {
    width: 30%;
}

.EmailCell {
    width: 30%;
}

.TableCell:first-child {
    border: none;
}

.tableText {
    color: rgb(103, 119, 109);
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
    font-style: italic;
}
